@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './javascripts/components/projects/projects.scss';
@import './javascripts//components//aboutMe/aboutMe.scss';

body {
  background-color: dodgerblue;
  
}
.aboutMe {
  margin: 1em 1em;
  ;
}
.content {
  display: flex;
  align-content: center;
}

.card {
  width:  75% !important;
  margin: 4em 1em !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
